body{
    background-image: url(../images/funkylines.png);
}

.whitebackground {
    background-color: #ffffff; 
}

.whiteText {
    color: #ffffff;
}

.container {
    background-color: #ffffff;
}

.box {
    margin-top: 50px;
    padding: 20px;

}


.navbar-brand {
    background-color: #4aaaa5;
    width: 250px;
    height: 50px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: -8px;
    margin-left: -12px;
}

#aboutMe {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 60px; 
    font-weight: bold;
    display: block;
    border-bottom: 2px solid #dddddd;
}

.textOne {
    color: #777777;
}

.nav-link {
    color: #777777;
}

nav {
   border-bottom: 2px solid #cccccc;
}

.footer {
border-top: 10px solid #4aaaa5;
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 70px;
line-height: 70px; /* Vertically center the text there */
background-color: #666666;
}

.footerColor {
background-color: #666666;
}

.text-muted {
text-align: center;
}

.copyright {
color: #777777;  
}



/* Portfolio CSS  */

.portfolioImages {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }

.boxThree {
    margin-top: 50px;
 
}

.portfolioImages h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

/* Contact Us CSS  */

.boxTwo {
    margin-top: 50px;
    padding: 20px;
   
}


.btn-primary {
    background-color: #4aaaa5;
    color: #ffffff;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #4aaaa5;
}
 
.btn-primary:active, .btn-primary.active {
    background: #4aaaa5;
    box-shadow: none;
}

